
#menu{
    position: relative;
    top: 10px;
}
body {
    font-family: "Merriweather", serif;
}
p, a {
    font-family: "Open Sans", sans-serif;
}

/*------------------------------------- HERO  */

.hero {
    padding-top: 30px;
    color:black;
    text-align: center;
}   
.pais{
    padding: 5px 8px;
    position: relative;
    left: 10px;
    top: 20px;
}
.hero  h2{
    font-size: 20px;
}

.buton{
 position: relative;
    left: 10px;
}
.hero p{
    padding-top: 10px;
    font-size: 15px;
}
.letra{
    margin-top: 40px;
    font-size: 13px;
}
#next{
    padding: 20px 150px;
    margin-top: 100px;
    background-color: magenta;
    color: white;
    font-family: cursive;
    font-size: 20px;
}
img{
    height: 20px;
    width: 30px;
}
